# App
APP_ENV=development

# Yandex Cloud PostgreSQL (отдельная БД на общем кластере)
DB_HOST=rc1b-obkgs83tnrd6a2m3.mdb.yandexcloud.net
DB_PORT=6432
DB_NAME=alphacore
DB_USER=alphacore_app
DB_PASSWORD=
DB_SSL=true

# Yandex Cloud deploy
YC_REGISTRY_ID=
YC_FOLDER_ID=
YC_CONTAINER_ID=
YC_SA_ID=
